header{
    background-color: #002c7e;
    height: 60px;
    display: flex;
    align-items: center;
}
.fmovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fmovie-contact-container{
    display: flex;
    align-items: center;

}
.fmovie-contact-link{
    margin: 0 0 0 10px;
    color: white;
    font-size: 12px;
}

.fmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: white;
}